<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}

    <div id="form">
       <form action="{{ url_for('change_password', **request.args) }}" method="POST">
            <dl>

                <dd><input class="tb5" type="password" name="Old password" placeholder="old password">
                <dd><input class="tb5" type="password" name="New password"  placeholder="new password">
                <dd><input class="tb5" type="password" name="Confirm password" placeholder="confirm password">
                <dd><input id="submit" type="submit" value="submit">
            </dl>
        </form>
        {%if session['type']==0%}
                <dd><a href="{{ url_for('coordinator_menu', **request.args) }}"><button id="submit">cancel</button></a>
                {%else%}
                <dd><a href="{{ url_for('lecturers', **request.args) }}"><button id="submit">cancel</button></a>
                {%endif%}
    </div>

{% endblock %}